@import "src/app/styles/variables";

:host {
    position: fixed;
    right: 25px;
    bottom: 25px;
    span {
        user-select: none;
        color: $color-light-black;
        cursor: pointer;
        &:hover {
            color: $color-violet;
            &::after{
                content: "UP";
                position: absolute;
                top: -15px;
                left: 50%;
                transform: translate(-50%,0);
            }
        }
    }
}