<ngx-smart-modal #myModal identifier="myModal" (onDataAdded)="onAddData($event)" 
    (onAnyCloseEvent)="onClose()"
    customClass="medium-modal nsm-centered" >
    <div *ngIf="data" class="modal-body responsive-container">
        <h3>{{data.title}}</h3>
        <iframe #rickroll 
          class="large"  
          [src]="data.key | safe:'url'"
          frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="modal-footer">
        <button class="btn btn-dark btn-raised" (click)="myModal.close()">Close</button>
    </div>
</ngx-smart-modal>