:host {
  position: sticky;
  width: 100%;
  height: 50px;
  margin: 0;
  text-align: center;
  background-color: var(--menu-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
  color: var(--menu-link);
  font-size: 18px;
  li {
    display: inline-block;
    margin: 0 15px;
    height: 100%;
    :hover {
      color: var(--menu-link-active);
    }
    a {
      text-decoration: none;
      color: var(--menu-link);
    }
    .active {
      color: var(--menu-link-active);
    }
  }
}

.logo {
  font: 20pt/18pt sans-serif;
  color: var(--menu-link-active);
  cursor: default;
  left: 10px;
  top: 15px;
  position: fixed;
}
