.page {
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  contain: layout size style;
  overflow: hidden;
  z-index: 0;
}
// .container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 10px 15px;
//     margin: auto;
//     padding-top: 60px;
//     .page {
//         width: 40%;
//         text-align: center;;
//     }
// }
// @media screen and (max-width: 1200px) {
//     .container {
//         .page {
//             width: 80%;
//         }
//     }
// }
