@import "src/app/styles/variables";

.menu {
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: center;
    background-color: $color-light-black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    ul {
        list-style-type: none;
        color: $color-white;
        font-size: 18px;
        li {
            display: inline-block;
            margin: 0 15px;
            height: 100%;
            :hover {
                cursor: pointer;
                color: $color-aqua;
            }
            a {
                text-decoration: none;
                color: $color-white;
            }
            .active {
                color: $color-aqua;
            }
        }
    }
    .logo {
        font: 20pt/18pt sans-serif;
        color: $color-aqua;
        cursor: default;
        left: 10px;
        top: 15px;
        position: fixed;
    }
}

