<div class="card-film" *ngIf="film">
    <div class="card-film-image">
        <img [src]="film.urlPoster">
    </div>
    <div class="card-film-body">
        <div class="card-film-title">
            <span>{{film.title}}</span>
            <div class="card-film-favorite" (click)="onClickFavorite(film.idIMDB)">
                <svg-icon src="assets/images/icon-favorite.svg" [svgStyle]="{ 
                        'width.px': 20, 
                        'height.px': 20,
                        'fill': film.isFavorite ? 'rgb(150,50,255)' : 'rgb(21,24,25)'
                    }">
                </svg-icon>
            </div>
        </div>
        <div class="card-film-year">
            Year: {{film.year}}
        </div>
        <div class="card-film-rate">
            Rating: {{film.rating}}/10 
        </div>
        <div class="card-film-genre">
            Genres: {{film.genres | join:', '}}
        </div>
        <div class="card-film-country">
            Countries: {{film.countries | join:', '}}
        </div>
        <div class="card-film-directors">
            Directors:
            <span *ngFor="let director of film.directors; last as isLast" 
                class="card-film-director"
                (click)="linkForDirector(director.id)"
            >
                {{director.name}}
                <span *ngIf="!isLast">, </span>
            </span>
        </div>
        <div class="card-film-buttons" *ngIf="film?.trailers?.length">
            Watch trailes:
            <button *ngFor="let trailer of film.trailers"
                class="btn btn-rounded btn-success ml-1" 
                (click)="openTrailer(trailer)"
            >
                {{trailer.size}}
            </button>
        </div>
    </div>
</div>