<div class="card-film" *ngIf="film">
    <div class="card-film-image">
        <img [src]="film.imageUrl">
    </div>
    <div class="card-film-body">
        <div class="card-film-title">
            <span>{{film.title}}</span>
            <div class="card-film-favorite" 
                (click)="onClickFavorite(film.id)" 
            >
                <svg-icon src="assets/images/icon-favorite.svg" 
                    [svgStyle]="{ 
                        'width.px': 20, 
                        'height.px': 20,
                        'fill': film.isFavorite ? 'rgb(150,50,255)' : 'rgb(21,24,25)'
                    }">
                </svg-icon>
            </div>
        </div>
        <div class="card-film-year">
            Год выпуска: {{film.year}}
        </div>
        <div class="card-film-rate">
            Рейтинг: {{film.rate}}
        </div>
        <div class="card-film-genre">
            Жанр: {{film.genre}}
        </div>
        <div class="card-film-country">
            Страна: {{film.country}}
        </div>
        <div class="card-film-director">
            Режисер: <span>{{film.director}}</span> 
        </div>
    </div>
</div>